.layout {
    width: 1300px;
    height: 280px;
}

.key {
    position: inherit;
}

.template {
    display: none;
}

#keyboard-base {
    background: url("./png/keyboard-base-1x.png");
    background-size: contain;
    background-blend-mode: normal;
    background-repeat: no-repeat;
    resize: both;
}

#keys {
    position: absolute;
    top: 20px;
    left: -302px;
}


/* #key-layout {  
    position: absolute;
    top: 30px;
    left: 8px;
} */

#keyboard-shading{
    background: url("./png/keyboard-shading-1x.png");
    background-size: contain;
    background-blend-mode: normal;
    background-repeat: no-repeat;
    position: absolute;
    top: 30px;
    left: 8px;
}